### Imports
Install any packages that are not in the environment

In [3]:
import sys
import pandas as pd
import datetime as dt
import csv
import re


try:
    from twitterscraper import query_tweets
except:
    !{sys.executable} -m pip install twitterscraper
    from twitterscraper import query_tweets

# Search Parameters
**Parameters:**:  
search query (str),  
limit (int)
            begindate (dt.date),  
            enddate (dt.date),  
            poolisze (int),  
            lang (str),  
              
For search query, refer to Twitter's search operators:   https://developer.twitter.com/en/docs/tweets/search/guides/standard-operators.html

In [4]:
query = input('Enter your search query.\n')
beginString = input('Enter the beginning date in YYYY-MM-DD format.\n')

beginYear, beginMonth, beginDay = map(int, beginString.split('-'))
begindate = dt.date(beginYear, beginMonth, beginDay)

endString = input('Enter the end date in YYYY-MM-DD format.\n')

endYear, endMonth, endDay = map(int, endString.split('-'))
enddate = dt.date(endYear, endMonth, endDay)

Enter your search query.
from:nytimes
Enter the beginning date in YYYY-MM-DD format.
2019-04-13
Enter the end date in YYYY-MM-DD format.
2019-04-14

In [5]:
begindate

datetime.date(2019, 4, 13)

## Abstracted Query  
Performs query, adds the hashtag field, writes to csv file with name *output_name*

In [6]:
# clean user input



def query_and_write(query, output_name, 
                      limit=None,
                      begindate=dt.date(2006, 3, 21), 
                      enddate=dt.date.today(), 
                      poolsize=20, 
                      lang=''):
  # perform query
  tweets = query_tweets(query, limit, begindate, enddate, poolsize, lang)
  # construct csv
  if tweets:
    with open(output_name, "w", encoding="utf-8") as output:
      f = csv.writer(output)
      f.writerow(["timestamp", "user", "fullname", "text", "hashtags", "id", "url", "retweets", "favorites", "replies"])
      for x in tweets:
        # parse text for hashtags
        tag_set = set(re.findall('\#\w+', x.text))
        tag_values = " ".join(tag_set)
        # add row for tweet in csv
        f.writerow([x.timestamp, x.user, x.fullname, x.text, tag_values, x.id, x.url, x.retweets, x.likes, x.replies])
  return
query_and_write(query=query, output_name='output.csv', limit=None, 
             begindate=begindate, 
             enddate=enddate)
print("Done.")

INFO: queries: ['from:nytimes since:2019-04-13 until:2019-04-14']
INFO: Querying from:nytimes since:2019-04-13 until:2019-04-14
INFO: Got 90 tweets for from%3Anytimes%20since%3A2019-04-13%20until%3A2019-04-14.
INFO: Got 90 tweets (90 new).

Done.