### Imports
Install any packages that are not in the environment

In [1]:
import sys
import pandas as pd
import datetime as dt
import csv
import re


try:
    from twitterscraper import query_tweets
except:
    !{sys.executable} -m pip install twitterscraper
    from twitterscraper import query_tweets

# Search Parameters
**Parameters:**:  
search query (str),  
limit (int)
            begindate (dt.date),  
            enddate (dt.date),  
            poolisze (int),  
            lang (str),  
              
For search query, refer to Twitter's search operators:   https://developer.twitter.com/en/docs/tweets/search/guides/standard-operators.html

In [13]:
query = input('Enter your search query.\n')
beginString = input('Enter the beginning date in YYYY-MM-DD format.\n')

beginYear, beginMonth, beginDay = map(int, beginString.split('-'))
begindate = dt.date(beginYear, beginMonth, beginDay)

endString = input('Enter the end date in YYYY-MM-DD format.\n')

endYear, endMonth, endDay = map(int, endString.split('-'))
enddate = dt.date(endYear, endMonth, endDay)

Enter your search query.
from:Reuters
Enter the beginning date in YYYY-MM-DD format.
2014-07-14
Enter the end date in YYYY-MM-DD format.
2016-09-26

In [14]:
begindate

datetime.date(2014, 7, 14)

## Abstracted Query  
Performs query, adds the hashtag field, writes to csv file with name *output_name*

In [15]:
# clean user input



def query_and_write(query, output_name, 
                      limit=None,
                      begindate=dt.date(2006, 3, 21), 
                      enddate=dt.date.today(), 
                      poolsize=20, 
                      lang=''):
  # perform query
  tweets = query_tweets(query, limit, begindate, enddate, poolsize, lang)
  # construct csv
  if tweets:
    with open(output_name, "w", encoding="utf-8") as output:
      f = csv.writer(output)
      f.writerow(["timestamp", "user", "fullname", "text", "hashtags", "id", "url", "retweets", "favorites", "replies"])
      for x in tweets:
        # parse text for hashtags
        tag_set = set(re.findall('\#\w+', x.text))
        tag_values = " ".join(tag_set)
        # add row for tweet in csv
        f.writerow([x.timestamp, x.user, x.fullname, x.text, tag_values, x.id, x.url, x.retweets, x.likes, x.replies])
  return
query_and_write(query=query, output_name='Reuters.csv', limit=None, 
             begindate=begindate, 
             enddate=enddate)
print("Done.")

INFO: queries: ['from:Reuters since:2014-07-14 until:2014-08-23', 'from:Reuters since:2014-08-23 until:2014-10-02', 'from:Reuters since:2014-10-02 until:2014-11-11', 'from:Reuters since:2014-11-11 until:2014-12-22', 'from:Reuters since:2014-12-22 until:2015-01-31', 'from:Reuters since:2015-01-31 until:2015-03-12', 'from:Reuters since:2015-03-12 until:2015-04-21', 'from:Reuters since:2015-04-21 until:2015-06-01', 'from:Reuters since:2015-06-01 until:2015-07-11', 'from:Reuters since:2015-07-11 until:2015-08-20', 'from:Reuters since:2015-08-20 until:2015-09-29', 'from:Reuters since:2015-09-29 until:2015-11-09', 'from:Reuters since:2015-11-09 until:2015-12-19', 'from:Reuters since:2015-12-19 until:2016-01-28', 'from:Reuters since:2016-01-28 until:2016-03-08', 'from:Reuters since:2016-03-08 until:2016-04-18', 'from:Reuters since:2016-04-18 until:2016-05-28', 'from:Reuters since:2016-05-28 until:2016-07-07', 'from:Reuters since:2016-07-07 until:2016-08-16', 'from:Reuters since:2016-08-16 until:2016-09-26']
INFO: Querying from:Reuters since:2014-07-14 until:2014-08-23
INFO: Querying from:Reuters since:2014-10-02 until:2014-11-11
INFO: Querying from:Reuters since:2014-08-23 until:2014-10-02
INFO: Querying from:Reuters since:2015-01-31 until:2015-03-12
INFO: Querying from:Reuters since:2014-11-11 until:2014-12-22
INFO: Querying from:Reuters since:2014-12-22 until:2015-01-31
INFO: Querying from:Reuters since:2015-03-12 until:2015-04-21
INFO: Querying from:Reuters since:2016-01-28 until:2016-03-08
INFO: Querying from:Reuters since:2016-08-16 until:2016-09-26
INFO: Querying from:Reuters since:2015-04-21 until:2015-06-01
INFO: Querying from:Reuters since:2015-07-11 until:2015-08-20
INFO: Querying from:Reuters since:2015-06-01 until:2015-07-11
INFO: Querying from:Reuters since:2016-03-08 until:2016-04-18
INFO: Querying from:Reuters since:2015-11-09 until:2015-12-19
INFO: Querying from:Reuters since:2015-08-20 until:2015-09-29
INFO: Querying from:Reuters since:2015-09-29 until:2015-11-09
INFO: Querying from:Reuters since:2015-12-19 until:2016-01-28
INFO: Querying from:Reuters since:2016-04-18 until:2016-05-28
INFO: Querying from:Reuters since:2016-05-28 until:2016-07-07
INFO: Querying from:Reuters since:2016-07-07 until:2016-08-16
INFO: Got 1387 tweets for from%3AReuters%20since%3A2015-01-31%20until%3A2015-03-12.
INFO: Got 1387 tweets (1387 new).
INFO: Got 1394 tweets for from%3AReuters%20since%3A2015-03-12%20until%3A2015-04-21.
INFO: Got 2781 tweets (1394 new).
INFO: Got 1362 tweets for from%3AReuters%20since%3A2014-12-22%20until%3A2015-01-31.
INFO: Got 4143 tweets (1362 new).
INFO: Got 1538 tweets for from%3AReuters%20since%3A2015-04-21%20until%3A2015-06-01.
INFO: Got 5681 tweets (1538 new).
INFO: Got 1531 tweets for from%3AReuters%20since%3A2014-10-02%20until%3A2014-11-11.
INFO: Got 7212 tweets (1531 new).
INFO: Got 1640 tweets for from%3AReuters%20since%3A2015-07-11%20until%3A2015-08-20.
INFO: Got 8852 tweets (1640 new).
INFO: Got 1744 tweets for from%3AReuters%20since%3A2015-08-20%20until%3A2015-09-29.
INFO: Got 10596 tweets (1744 new).
INFO: Got 1765 tweets for from%3AReuters%20since%3A2014-07-14%20until%3A2014-08-23.
INFO: Got 12361 tweets (1765 new).
INFO: Got 1738 tweets for from%3AReuters%20since%3A2014-11-11%20until%3A2014-12-22.
INFO: Got 14099 tweets (1738 new).
INFO: Got 1686 tweets for from%3AReuters%20since%3A2014-08-23%20until%3A2014-10-02.
INFO: Got 15785 tweets (1686 new).
INFO: Got 1876 tweets for from%3AReuters%20since%3A2016-01-28%20until%3A2016-03-08.
INFO: Got 17661 tweets (1876 new).
INFO: Got 1954 tweets for from%3AReuters%20since%3A2015-06-01%20until%3A2015-07-11.
INFO: Got 19615 tweets (1954 new).
INFO: Got 2100 tweets for from%3AReuters%20since%3A2015-12-19%20until%3A2016-01-28.
INFO: Got 21715 tweets (2100 new).
INFO: Got 2182 tweets for from%3AReuters%20since%3A2015-09-29%20until%3A2015-11-09.
INFO: Got 23897 tweets (2182 new).
INFO: Got 2316 tweets for from%3AReuters%20since%3A2016-03-08%20until%3A2016-04-18.
INFO: Got 26213 tweets (2316 new).
INFO: Got 2865 tweets for from%3AReuters%20since%3A2015-11-09%20until%3A2015-12-19.
INFO: Got 29078 tweets (2865 new).
INFO: Got 3401 tweets for from%3AReuters%20since%3A2016-04-18%20until%3A2016-05-28.
INFO: Got 32479 tweets (3401 new).
INFO: Got 3428 tweets for from%3AReuters%20since%3A2016-08-16%20until%3A2016-09-26.
INFO: Got 35907 tweets (3428 new).
INFO: Got 3584 tweets for from%3AReuters%20since%3A2016-05-28%20until%3A2016-07-07.
INFO: Got 39491 tweets (3584 new).
INFO: Got 3578 tweets for from%3AReuters%20since%3A2016-07-07%20until%3A2016-08-16.
INFO: Got 43069 tweets (3578 new).

Done.